packages: [
  "atom-typescript"
  "ayu-mirage-ish-syntax"
  "busy-signal"
  "file-icons"
  "intentions"
  "language-groovy"
  "language-scala"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "multi-cursor"
  "package-sync"
  "piatto-light-syntax"
  "prettier-atom"
  "project-manager"
  "python-black"
]
